hr {
	border-style: none;
	border-color: grey;
	border-top-style: dotted;
	background-color: none;
	height: 0px;
	width: 20%;
	border-width: 15px;

}

h1{
	color: #444444;
	font-family: monospace;
	margin: auto;
	width: 30%;
	font-size: 27;
	padding: 0px;
}
img{
	margin: auto;
  display: block;
}

table:hover{
	border: 1px solid;
	border-color: #FAEBD7;
}

.test{
	height: 60;
}


.wave{
	position: absolute;
	opacity: 50%;
	height: 568;
	width: 1260;
	z-index: -1;
	left: 0px;
	top: 0px;
}

.wavesside {
	position: absolute;
	z-index: -1;
	left: 900;
	top: 1200
}

.wavessideunder{
	position: absolute;
	z-index: -1;
	left: 900;
	top: 600;
}
