hr {
	border-style: none;
	border-color: grey;
	border-top-style: dotted;
	background-color: none;
	height: 0px;
	width: 20%;
	border-width: 15px;

}

h1{
	color: #444444;
	font-style: italic;
	margin: auto;
	width: 40%;
	padding: 10px;
}
img{
	margin: auto;
  display: block;
}

table:hover{
	border: 1px solid;
	border-color: #FAEBD7;
}

.test{
	height: 22;
}


.wave{
	position: absolute;
	opacity: 40%;
	height: 568;
	width: 1260;
	z-index: -1;
	left: 0px;
	top: 0px;
}
