hr {
	border-style: none;
	border-color: grey;
	border-top-style: dotted;
	background-color: none;
	height: 0px;
	width: 20%;
	border-width: 15px;

}

h1{
	color: #444444;
	font-family: Geneva, cursive;
	margin: auto;
	width: 17%;
	font-size: 150%;
}
img{
	margin: auto;
  display: block;
}

table:hover{
	border: 1px solid;
	border-color: #FAEBD7;
}

.test{
	height: 100%;
	z-index: 0;
}


.wave{
	position: absolute;
	z-index: -1;
	opacity: 50%;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

.wavesside {
	position: absolute;
	z-index: -1;
	left: 65%;
	top: 200%;
}

.wavessideunder{
	position: absolute;
	z-index: -1;
	left: 65%;
	top: 100%;
}

.imageofme {
	max-width: 100%;
  min-width: 300px;
}
